$First-background-img:url("../../img/background.jpg");

$Button-hover: linear-gradient(to right, #02967d, #280863);

$Buttom: linear-gradient(to right, #f17500, #f34e0c);

$First-text-shadow : 2px 2px 4px rgb(131, 224, 220);

$First-color: white;

$background-header: linear-gradient(to right, #1e2f42, #140470f8);

$background-section: linear-gradient(rgba(255, 255, 255, 0.801), rgba(92, 91, 91, 0.8));

$first-textcolor-section: linear-gradient(to right, #474aff, #ff0000);

$second-textcolor-section:linear-gradient(to right, #1a1c27, #6e0e92);