.Article-subtitle {
    color: rgb(199, 107, 107);
}

.Article-link {
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}


.Article-image {
    width: 250px;
    height: 150px;
    border-radius: 30px;
    margin: 0 auto;
}

.Article-text {
    color: #454546;
    font-weight: 500;
}
